<!DOCTYPE html>
<html>
<head>
    <title>Application Update</title>
</head>
<body>
    <div style="width: 100%; text-align: center;">
        <img src="https://github.com/samhitha101/bigdata_images/blob/main/1.png?raw=true" alt="Header Image" style="display: block; width: 100%; max-width: 600px; height: auto;">
    </div>
    <div>
        Dear {{ candidate_name }},<br>
        Thank you for your interest in the {{ job_title }} position at Doodle.inc and for taking the time to interview with our team. We appreciate you learning more about our company.
        After careful consideration of all applications and interviews, we have decided to move forward with other candidates whose qualifications and experience more closely align with the specific requirements of this role.<br
        We understand that this may not be the news you were hoping for. We truly appreciate your interest in Doodle.inc and the time you invested in the application process.<br>
        We wish you the best of luck in your job search and future endeavors.<br>
        Sincerely,<br>
        The Doodle.inc Hiring Team
        <div style="width: 100%; text-align: center;">
            <img src="https://github.com/samhitha101/bigdata_images/blob/main/2.png?raw=true" alt="Footer Image" style="display: block; width: 100%; max-width: 600px; height: auto;">
        </div>
    </div>
</body>
</html>
