<!DOCTYPE html>
<html>
<head>
    <title>Interview Invitation for {{ job_title }} at Doodle.inc</title>
</head>
<body>
    <div style="width: 100%; text-align: center;">
        <img src="https://github.com/samhitha101/bigdata_images/blob/main/1.png?raw=true" alt="Header Image" style="display: block; width: 100%; max-width: 600px; height: auto;">
    </div>
    <div>
        Dear {{ candidate_name }},<br>
        We, Hush Hush Recruiters, are pleased to inform you that you have been shortlisted for the {{ job_title }} position at Doodle.inc and invited to the next stage of the interview process! Doodle.inc is a leading innovator in collaborative scheduling solutions.<br>
        As a next step, we kindly request you to complete the following questionnaire. This will provide us with valuable insights into your background and experience to help determine if you are a good fit at Doodle.inc. You can access the questionnaire here: <a href="{{ questionnaire_link }}">{{ questionnaire_link }}</a><br>
        Please complete the questionnaire by {{ deadline }}. We encourage you to complete it as soon as possible so the recruitment team can review it.
        We understand your time is valuable, and the questionnaire should take approximately 50 minutes to complete.
        If you have any questions or encounter any technical difficulties, please don't hesitate to contact Nami Oda at <a href="mailto:[100003141@stud.srh-university.de]">Nami_Oda@doodle.com</a>.<br>
        Thank you for your interest in Doodle.inc. We look forward to reviewing your questionnaire and potentially welcoming you to the team!<br>
        Sincerely,
        The Hush Hush Recruiters Team
        Doodle.inc<br><br>
        <div style="width: 100%; text-align: center;">
            <img src="https://github.com/samhitha101/bigdata_images/blob/main/2.png?raw=true" alt="Footer Image" style="display: block; width: 100%; max-width: 600px; height: auto;">
        </div>
    </div>
</body>
</html>
